html
    head
        title="Isomorphic React App"
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='event-calendar.css')
        style.
          .js-events {
            background-color: gainsboro;
            border: 1px solid #CCC;
            color: #555;
            margin-top: 1em;
            padding: 0.7em 2em;
          }

    body
        h1 Event Calendar
        .js-cal

        button.js-events Generate events

    script(src='event-calendar.min.js')
    script.
        var cal = eventCalendar({
          selector: '.js-cal',
          state: {
            currentTime: '2015-04-27T09:00'
          }
        });
        var btn = document.querySelector('.js-events');

        btn.addEventListener('click', function() {
            cal.setState({
                events: [
                  {
                    name: 'Linked event',
                    date: Date.now(),
                    link: 'http://example.com'
                  },
                  {
                    name: 'Example event',
                    date: Date.now() + (1000 * 60 * 60 * 24)
                  }
                ]
            });
        });
